@charset "utf-8";
/* CSS Document */
/* Start index.css*/

* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}

body{
	width: 90%;
	margin: 0 auto;
}

#header{
	width: 1600px;
	height: 700px;
	background-image: url(../image/wallpaper.jpg);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 150px;
}

#category {
	width: 1600px;
	margin: 0px 0px 0px 150px;
	background-color: #efefef;
	overflow: auto;
}


#category h1 {
	width: 450px;
	height:60px;
	letter-spacing: 1.5pt;
	font-weight: bold;
	font-size: 24pt;
	margin: 0px;
	background-image: url(../image/menu.png);
	background-repeat: no-repeat;
	background-size:450px 40px;
}

#category ul li h1 {   /*Hy cù bơ sửa lại*/
    float:left;
} 

#category ul {
	list-style: none;
}

#category ul li{
 	display: inline;
}


#category ul li a{
	float: right;
	padding: 0px 10px;
	text-decoration: none;
	font-size: 20pt;
	font-weight: bold;
}

#category ul li a:hover{
	text-decoration: underline;
}

#content {
	width: 1600px;
	margin: 0px 0px 0px 150px;
}

.product ul {
	width:100%;
	list-style: none;
}

.product ul li {
	width: 320px;
	height: auto;
	border: 1px solid #000;
	float: left;
	margin-left: 40px;
	margin-bottom: 20px;
}

.product ul li p{
	text-decoration: none;
	text-align:center;
	font-weight: bold;
}

#nav{
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.7);
	overflow:auto;
}

#nav li{
	display: inline;
	padding: 20px 20px;
	float:right;
}

#nav li a {
	font-size:18pt;
	font-weight: bold;
	text-decoration: none;
}

#nav li a:hover{
	text-decoration: underline;
}

img.align-image{
	width: 150px;
	margin: 0px auto;
	display:block;
}

#footer{
	width: 1600px;
	margin: 0px 0px 0px 150px;
}

#footer p {
	text-align: right;
	font-weight: bold;
	font-style:italic;
}

#menu-footer{
	height: 150px;
	background-color:#efefef;
}

#menu-footer table th,td{
	padding: 7px 10px 10px 70px;
}

#menu-footer table th{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 110%;
	text-align: left;
}

#menu-footer table tr td{
	letter-spacing: 0.1em;
	font-size: 90%;
	text-align: left;
	font-weight: bold;
}

.class-clear{
	clear:left;
}


