@charset "utf-8";
/* CSS Document */

* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}

body{
	width: 90%;
	margin: 0 auto;
}

#searchBar {
	width: 350px;
}

#header{
	width: 1600px;
	border: 1px solid #000;
	background-color: #00FF2C;
	margin-bottom: 10px;
}

#nav{
	overflow: auto;
}

#nav ul{
	float:right;
	list-style: none;
}

#nav ul form {
	margin: 0 100px;
}

#nav ul li {
	margin: 0 20px;
}

#nav ul li,form{
	display: inline;
}

#nav ul li a {
	text-decoration: none;
	color:aliceblue;
	font-weight: bold;
}

#nav ul li a:hover{
	text-decoration: underline;
}

#content{
	width: 1602px;
	height: 400px;
	margin-bottom: 10px;
}

#left{
	width: 200px;
	height: 400px;
	border: 1px solid #000;
	float: left;
}

#right{
	width: 1390px;
	height: 400px;
	border: 1px solid #000;
	float: right;
}

#left p {
	text-align: center;
	padding: 10px;
	margin: 0;
	background:#69FF00;
}

#left ul{
	list-style: none;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

#left ul li {
	border: 1px solid #60FC00;
	margin: 0 auto;
	text-align: center;
}

#left ul li a {
	text-decoration: none;
}

#left ul li a:hover{
	text-decoration: underline;
}

#footer{
	width: 1602px;
}

#footer p {
	text-align: right;
	font-weight: bold;
	font-style:italic;
}

#menu-footer{
	height: 150px;
	background-color:#efefef;
}

#menu-footer table th,td{
	padding: 7px 10px 10px 70px;
}

#menu-footer table th{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 110%;
	text-align: left;
}

#menu-footer table tr td{
	letter-spacing: 0.1em;
	font-size: 90%;
	text-align: left;
	font-weight: bold;
}



